line {
  &.zero {
    stroke: #3B4BE7;
    stroke-width: 1px;
  }

  &.axis {
    stroke: #3B4BE7;
    stroke-width: 1px;
  }

  &.tick {
    stroke: #3B4BE7;
    stroke-width: 1px;
  }

  &.mean {
    stroke: palette(grey, 0);
    stroke-width: 1px;
  }

  &.verticalLine {
    stroke: palette(grey, 70);
    stroke-width: 1px;
  }

  &.legend {
    stroke: #3B4BE7;
    stroke-width: 2px;
  }
}

line, path {
  transition-duration: 0.3s;

  &.NDC {
    stroke: #b7005e;
  }

  &.goodpractice {
    stroke: #d4584e;
  }

  &.netzero {
    stroke: #e67c3e;
  }

  &.eff {
    stroke: #feae00;
  }

  &.historic {
    stroke: $color-dark-gray;
  }

  &.hasHighlight {
    opacity: 0.2;
  }
}

g {
  transition-duration: 0.3s;

  &.isNotVisible {
    opacity: 0;
  }

  &.isVisible {
    opacity: 1;
  }

  &.horizontalLine {
    opacity: 0;

    &.isVisible {
      opacity: 1;
    }
  }
}

text {
  &.tick, tspan.tick {
    fill: $color-default;
    font-weight: $font-weight-default;
    font-size: $size-small;
  }

  tspan.info {
    fill: $color-default;
    font-size: $size-smaller;
  }

  &.area tspan {
    fill: palette(grey, 30);
    font-size: $size-default;
    font-weight: $font-weight-bold;
  }

  &.area {
    fill: $color-default;
  }

  &.marker {
    fill: palette(grey, 40);
    // font-weight: $font-weight-bold;
    font-size: $size-default;

    .super {
      font-size: $size-smaller;
    }
  }

  &.axis {
    fill: $color-default;
    font-weight: $font-weight-bold;
    font-size: $size-big;
  }

  &.dot {
    fill: palette(grey, 0);
    // font-weight: $font-weight-bold;
    letter-spacing: $spacing-wide;
    font-size: $size-default;
  }
}
