h1 {
	font-size: 3rem;
	line-height: 1.2;
	margin-bottom: $spacing / 2;
}

h2 {
	font-size: 1.5rem;
	margin: 0;
	margin-bottom: $spacing;
}

h3 {
	margin-top: $spacing * 0.5;
}

h1, h2, h3, strong, p {
  color: $color-default;
}

h1, h2, h3, strong {
  font-weight: 700;
}

a {
  color: $color-default;
  text-decoration: underline;

  &:hover, &:focus, &:active {
    background-color: $color-default;
    color: #2130BF;
  }
}

.btn {
	color: $color-default;
	font-weight: 500;

	&:hover, &:focus, &:active {
    color: #2130BF;
  }
}

p {
	font-size: 0.85rem;
}

input, textarea {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  letter-spacing: 0.05em;
  font-size: 0.85em;
  border: 5px solid #3B4BE7;

  &:focus {
  	outline: none;
  	border-color: #FEB767;
  }
}