$font-sans: "IBM Plex Sans", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", Helvetica, sans-serif !default;
$font-mono: "IBM Plex Mono", monospace !default;
$font-serif: "IBM Plex Serif", "Georgia", serif !default;

$font-family-default: $font-sans !default;

$font-weight-default: 400 !default;
$font-weight-bold: 700 !default;

$base-line-height: 1.7 !default;

$spacing:     2rem !default;

$color-violet:  hsl(247, 47%, 47%);
$color-yellow:  #FEAE00;
$color-green:   hsl(154, 57%, 50%);
$color-red:     #B7005E;
$color-blue:    #1BA3D0;

$palettes: (
  primary: (
    100: hsl(247, 47%, 66%),
    83:  hsl(247, 47%, 61%),
    66:  hsl(247, 47%, 56%),
    50:  hsl(247, 47%, 47%),
    33:  hsl(247, 47%, 46%),
    16:  hsl(247, 47%, 41%),
    0:   hsl(247, 47%, 36%)
  ),
  accent: (
    100: hsl(154, 57%, 66%),
    83:  hsl(154, 57%, 61%),
    66:  hsl(154, 57%, 56%),
    50:  hsl(154, 57%, 50%),
    33:  hsl(154, 57%, 46%),
    16:  hsl(154, 57%, 41%),
    0:   hsl(154, 57%, 36%)
  ),
  grey: (
    100: hsl(240, 5%, 100%),
    90:  #F5F6F7,
    80:  #F0F1F2,
    70:  hsl(240, 5%, 80%),
    60:  hsl(240, 5%, 65%),
    50:  hsl(240, 5%, 56%),
    40:  hsl(240, 5%, 47%),
    30:  hsl(240, 5%, 39%),
    20:  hsl(240, 5%, 30%),
    10:  hsl(240, 5%, 22%),
    0:   hsl(240, 5%, 13%)
  )
);

@function palette($palette, $tone: '50') {
  @return map-get(map-get($palettes, $palette), $tone);
}

$color-accent:      $color-violet;
$color-black:       #222222;
$color-white:       #ffffff;
$color-pale-gray:   #f3f3f3;
$color-light-gray:  #dddddd;
$color-gray:        #bbbbbb;
$color-dark-gray:   #888888;

$color-default:   #222222 !default;
$color-darker:    #626C76 !default;
$color-dark:      #D0CFCE !default;
$color-accent:    #569CE1 !default;
$color-important: #D58882 !default;
$color-mute:      #919AA1 !default;
$color-invert:    #ffffff !default;

$color-bg-dark:   #2b2f32 !default;
$color-bg-mute:   #f1f1f1 !default;
$color-bg-default:#f9f9f9 !default;
$color-bg-light:  #f6f6f6 !default;
$color-bg-lighter:#fafafa !default;

$size-smallest:   0.55rem !default;
$size-smaller:    0.6rem !default;
$size-small:      0.7rem !default;
$size-default:    0.8rem !default;
$size-big:        1.0rem !default;
$size-bigger:     1.8rem !default;
$size-biggest:    2.3rem !default;

$spacing-default: 0.01em !default;
$spacing-wide:    0.02em !default;
$spacing-wider:   0.05em !default;
$spacing-widest:  0.10em !default;

$radius-default:  2px !default;

$transition-default: 0.5s !default;

$on-tablet-portrait:  600px !default;
$on-tablet-landscape: 900px !default;
$on-laptop:           1200px !default;
$on-desktop:          1700px !default;
